section.design
  .flex.flex--centre
    .col-50.flex.flex--centre
      .col-1
        p.home-lead ...updating dribble...
        //boxes
        a(href="").home-cta See more on dribble
        
    .col-50.flex.flex--centre
      .col-1
        p.home-lead ...and behance...
        a(href="").home-cta See more on behance
