section.youtube
  .flex.flex--space-around
    
    .col-1
      .video-strip
      .flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/ayF3maz0dIQ" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead.outdented ...browsing you tube and other random stuff...
      a(href="http://youtube.com").home-cta Watch On YouTube
