mixin face
  li.face(style="background-image: url(http://fillmurray.com/80/80);")
    .bubble
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      cite - John Jones

section.mentoring
  .flex.flex--centre
    .col-1
      ul.faces
        +face 
        +face 
        li.face.has-bubble-open(style="background-image: url(http://fillmurray.com/80/80);")
          .bubble
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            cite - John Jones 
        +face 
        +face 
        +face 
    .col-1
      p.home-lead.outdented ...Mentoring people about things...
      a(href="").home-cta Arange a Call
