section.vine
  .flex.flex--space-around
    
    .col-1 <iframe src="https://vine.co/v/iHzUW2UYwzx/embed/postcard" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>

    .col-1.description
      .desc-wrap
        p.home-lead.outdented ...offering the worst life advice possible...
        a(href="https://vine.co/").home-cta Check out vine
